ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

a.allows--allowlist{
    color:gray;
}

.search_box input {
    width: 300px;
}

.search_box .userlist {
    width: 300px;
    border: solid gray;
}

.search_box .listitem {
    display: block;
    margin-left: 5px;
    font-size: 0.7rem;
}
